<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amalm9479.swoosh">

    <application
        android:icon="@mipmap/ic_launcher_foreground"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Swoosh">
        <activity android:name=".Controller.FinishActivity" />
        <activity android:name=".Controller.SkillActivity" />

        <activity android:name=".Controller.BaseActivity" />
        <activity android:name=".Controller.LeagueActivity" />
        <activity android:name=".Controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>